.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }


  .header-div {
    margin-top: 50px;
  }

  .header-text-h1 {
    background-color: rgb(252, 74, 74);
    color: white;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    font-size: 34px;
  }

  .header-text-p {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px;
    width: 300px;
    height: 50px;
    background-color: red;
    color: white;
    border: 0px;
    cursor: pointer;
  }

  .card {
    width: 300px;
    /* height: 500px; */
    background-color: rgb(252, 74, 74);
    color: white;
    padding: 30px;
    text-align: center;
    margin: 30px;
  }

  .card img {
    width: 100px;
    margin-bottom: 10px;
  }

  .card h1 {
    margin-bottom: 10px;
  }

  .card p {
    padding: 10px;
  }